body {
    background-image: url(./struckaxiom.png);
    color: #d16969;
}
.title {
    font-size: 25px;
    margin-left: 4%;
}
.subtitle {
    margin: auto;
    width: 70%;
    margin-top: 5%;
    padding-bottom: 4%;
    text-align: center;
    border-bottom: 2px solid gray;
}
.heading {
    border-bottom: 2px solid #d16969;
    background-color: #d16969;
    color: white;
    margin-top: 0;
    height: 35px;
}
.subheading{
    font-weight: bold;
}
.incoming, .addtrain {
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0.383);
    margin: 4% 0;
    padding-bottom: 3%;
}
label {
    font-size: 18px;
    color: #d16969;
    font-weight: bold;
}
button {
    margin: 1%;
    background-color: #e77c7c !important;
}
button:focus {
    background-color: #e77c7c !important;
}
.info{
    margin-bottom: 3%;
    color: rgb(73, 73, 73);
    text-align: left;
}
.traininfo{
    margin-top: 3%;
}
.addbtn{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    float: right;
}
.addbtn:focus {
    background-color: transparent;
}
.nav-wrapper {
    position: relative;
    background-color: #e77c7c !important;
}
.material-icons {
    position: absolute;
    top: .2em;
    right: 1em;
}